/* src/styles/tailwind.css */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

.heading {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}

.main-container {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: 400px;
    padding: 1rem;
    margin: auto;
}

.nav-list li a {
    margin: 0rem 0.4rem;
    padding: 0rem 1rem;
    text-decoration: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.input-box {
  width: 100%;
  height: 70px;
}